@using VehicleManagementApp.ViewModels
@model VehicleManagementApp.ViewModels.RequsitionViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Requsition Description</h1>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>Form</td>
                    <td>@Html.DisplayFor(model => model.Form)</td>
                </tr>
                <tr>
                    <td>To</td>
                    <td>@Html.DisplayFor(model => model.To)</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@Html.DisplayFor(model => model.Description)</td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td>@Html.DisplayFor(model => model.JourneyStart)</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td>@Html.DisplayFor(model => model.JouneyEnd)</td>
                </tr>
            </table>
<<<<<<< HEAD
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 pull-left">
        <div>
            @using (Html.BeginForm("CreateComment", "Requsition"))
            {
                @Html.AntiForgeryToken()


                <div class="form-group">
                    @Html.HiddenFor(model => model.Id, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Id, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Id, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Comment</label>
                    @*@Html.LabelFor(model => model.CommentViewModel.Comments, htmlAttributes: new {@class = "control-label col-md-2"})*@
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CommentViewModel.Comments, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.CommentViewModel.Comments, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <br/>
                        <input type="submit" value="Post Comment" class="btn btn-default"/>
=======
            <div class="comment_section">
                <form>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="4" id="comment"></textarea>
>>>>>>> e9953d9b8523cb9af3da0b70dfaab4323aebe492
                    </div>
                </div>
            }
        </div>

    </div>
    <div class="col-md-12">
        <div class="comment_text">
            <table class="table">
                <tr>
                    <th>Your Comment :</th>
                </tr>
                
                @*@foreach (var item in Model.CommentViewModel.Comments)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => model.CommentViewModel.Comments)</td>
                    </tr>
                }*@
            </table>
        </div>
    </div>
</div>




<p>
<<<<<<< HEAD
    <br/>
=======
>>>>>>> e9953d9b8523cb9af3da0b70dfaab4323aebe492
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
